
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #fff;
}

.clearfix {
  clear: both;
}

#container {
  width: 350px;
  min-height: 400px;
  background: #333;
  overflow: auto;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border: #666 solid 2px;
  border-radius: 5px;
}

#audio-img {
  position: relative;
  overflow: hidden;
  height: 200px;
  margin-bottom: 1rem;
}
.cover {
   width: 100%;
   z-index = 1;
}

#audio-info.artist{
  font-weight: bold;
}

#audio-player {
  text-align: center;
}

input#volume {
  width: 95%;
  margin-left: 2%;
  background: #ccc;
  margin: 1.5rem 0;
}

#audio-buttons {
  width: 100%;
  display: block;
  overflow: auto;

}
#audio-buttons button {
  width: 23%;
  height: 3rem;
  border-radius: 5px;
}

#playlist {
  list-style: none;
  margin: 1rem 0;
}
#playlist li {
  cursor: pointer;
  padding: 0.3rem;
}
#playlist li.active {
  font-weight: bold;
  padding: 0.4rem;
  background-color: #666;
}

#tracker {
   position: relative;
   width: 100%;
}

#progress-bar {
  width: 75%;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 8px;
  background-color: #999;
  border-radius: 10px;
  float: left;
}
#progress {
  width: 75%;
  background: #ccc;
  height: 19px;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 8px;
  border-radius: 10px;
  overflow: hidden;
}

#duration {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 4px 8px;
  background:  #000;
  border-radius: 5px;
}
